// Variables
$background-color: #ffffff;
$text-color: #333;
$font-size-base: 15px;
$font-size-heading: 16px;
$link-hover-color: #0071e3;

// footer styles
footer {
  // border: solid 1px black;
  border-top: 1px solid lighten($text-color, 50%);
  background-color: $background-color;
  padding: 10px 0 0 0;
  // width: 100vw;
  
  .footer-container {
    // border: solid 1px black;
    display: flex;
    padding: 0px 150px;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .footer-column {
      // border: solid 1px black;
      // flex: 1;
      min-width: 180px;
      // margin: 10px;

      h3 {
        font-size: $font-size-heading;
        font-weight: bold;
        margin-bottom: 10px;
        color: $text-color;
      }

      ul {
        list-style-type: none;

        li {
          font-size: $font-size-base;
          margin-bottom: 10px;
          // border: solid 1px black;
          a{
            color: $text-color;
            text-decoration: none;
          }
        }
      }
    }

    .social-icons {
      display: flex;
      gap: 10px;

      li {
        font-size: 20px;
        color: $text-color;

        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 10px;
    // border-top: 1px solid lighten($text-color, 50%);
    padding: 10px 0;
    text-align: center;
    background-color: #2a2c2f;

    .legal-links {
      // margin-bottom: 10px;

      a {
        margin: 0 10px;
        font-size: $font-size-base;
        color: white;
        text-decoration: none;

        // &:hover {
        //   text-decoration: underline;
        //   color: $link-hover-color;
        // }
      }
    }

    p {
      font-size: $font-size-base;
      color: white;
    }
  }
}
