@use "sass:map"; // Nếu sử dụng Sass modules
@import "responsive";
@import "theme";

html,
body {
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.container {
    margin: 0 auto;
    padding: 0 100px;

}

// .col-xl-2{
//     flex: 0 0 20%;
//     max-width: 20%;
//     background-color: red;
// }

// .col-xl-5{
//     flex: 0 0 50%;
//     max-width: 50%;
//     background-color: red;
// }

// .col-xl-3{
//     flex: 0 0 30%;
//     max-width: 30%;
//     display: flex;
//     background-color: red;
// }

@include Responsive($DESKTOP){
    .col-xl-2{
        flex: 0 0 20%;
        max-width: 20%;
        // background-color: rgb(242, 164, 164);
    }
    
    .col-xl-5{
        flex: 0 0 50%;
        max-width: 50%;
        // background-color: rgb(242, 164, 164);
    }
    
    .col-xl-3{
        flex: 0 0 30%;
        max-width: 30%;
        display: flex;
        // background-color: rgb(242, 164, 164);
    }
}

@include Responsive($MEDIUM_DEVICE){
    .col-xl-2{
        flex: 0 0 20%;
        max-width: 20%;
        background-color: red;
    }
    
    .col-xl-5{
        flex: 0 0 50%;
        max-width: 50%;
        background-color: red;
    }
    
    .col-xl-3{
        flex: 0 0 30%;
        max-width: 30%;
        display: flex;
        background-color: red;
    }
}

@include Responsive($TABLET_DEVICE){
    .col-xl-2{
        flex: 0 0 20%;
        max-width: 20%;
        background-color: rgb(87, 223, 85);
    }
    
    .col-xl-5{
        flex: 0 0 50%;
        max-width: 50%;
        background-color: rgb(87, 223, 85);
    }
    
    .col-xl-3{
        flex: 0 0 30%;
        max-width: 30%;
        display: flex;
        background-color: rgb(87, 223, 85);
    }
}

@include Responsive($WIDE_MOBILE){
    .col-xl-2{
        flex: 0 0 20%;
        max-width: 20%;
        background-color: rgb(125, 87, 238);
    }
    
    .col-xl-5{
        flex: 0 0 50%;
        max-width: 50%;
        background-color: rgb(125, 87, 238);
    }
    
    .col-xl-3{
        flex: 0 0 30%;
        max-width: 30%;
        display: flex;
        background-color: rgb(125, 87, 238);
    }
}

@include Responsive($SMAILL_DEVICE){
    .col-xl-2{
        flex: 0 0 20%;
        max-width: 20%;
        background-color: rgb(228, 71, 184);
    }
    
    .col-xl-5{
        flex: 0 0 50%;
        max-width: 50%;
        background-color: rgb(228, 71, 184);
    }
    
    .col-xl-3{
        flex: 0 0 30%;
        max-width: 30%;
        display: flex;
        background-color: rgb(228, 71, 184);
    }
}